{% extends "layouts/base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="container">
    <div class="shadow card border-primary mt-4 col-12 col-md-10 col-lg-8 mx-auto">
        <div class="card-body">
            <h4 class="card-title">Check your inbox</h4>
            <p>
                We've emailed you instructions for setting your password. You should
                receive the email shortly!
            </p>

            <a class="btn btn-primary btn-block" href="{% url 'index'  %}">Go to Home</a>
        </div>
    </div>
</div>

{% endblock %}